.skills {
    align-items: flex-start;
}

.skills-title h1 {
    font-size: 60px;
}

.skills-title img {
    height: 50px;
}

.skills-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    width: 100%;
    gap: 50px;
}

@media(max-width:1000px) {
    .skills-container {
        grid-template-columns: 1fr 1fr;
    }
}

@media(max-width:768px) {
    .skills {
        margin: 50px 70px;
    }
}