.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 170px;
    box-shadow: 5px 5px 20px 15px rgba(39, 37, 36, 0.5),
                -5px -5px 20px 15px rgba(39, 37, 36, 0.5);
    
    border-radius: 50px;
}

.logo {
    border-radius: 5px 30px;
}

.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 60px;
    font-size: 20px;
}

.nav-menu .anchor-link:hover {
    color: #B923E1;
}

.nav-connect{
    padding: 20px 40px;
    border-radius: 50px;
    background: linear-gradient(267deg, #DA7C25 0.36%, #B923E1 102.06%);
    font-size: 22px;
    cursor: pointer;
    transition: 0.5s;
}

.nav-connect:hover{
    transform: scale(1.05);
}

.anchor-link {
    text-decoration: none;
    color: white;
}

.nav-mob-open ,
.nav-mob-close {
    display: none;
    cursor: pointer;
}

@media(max-width:1280px) {
    .navbar {
        margin: 20px 50px;
        box-shadow: none;
    }
    .nav-connect {
        display: none;
    }
    .nav-mob-open {
        display: block;
        position: relative;
        right: 20px;
    }
    .nav-mob-close {
        display: block;
        position: relative;
        top: 30px;
        left: 290px;
        width: 30px;
    }
    .nav-menu {
        position: fixed;
        flex-direction: column;
        align-items: start;
        top: 0;
        right: -350px;
        gap: 30px;
        background-color: #1F0016;
        width: 350px;
        height: 100%;
        z-index: 2;
        transition: right 0.5s;
    }
    .nav-menu li {
        font-size: 30px;
        padding-left: 100px;
        flex-direction: row;
        gap: 20px;
    }
}