.is-invalid {
    border-color: red;
}

.text-danger {
    color: red;
    max-width: 200px;
    margin-top: 0.25rem;
}

.form-group {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    gap: 30px;
}


.form-group label {
    color: #D8D8D8;
    font-size: 22px;
    font-weight: 500;
}

.form-group input {
    border: none;
    width: 700px;
    height: 78px;
    padding-left: 20px;
    border-radius: 4px;
    background: #32323c;
    color: #A0A0A0;
    font-family: Outfit;
    font-size: 20px;
}

.form-group textarea {
    width: 650px;
    border: none;
    padding: 25px;
    border-radius: 4px;
    background: #32323c;
    color: #A0A0A0;
    font-family: Outfit;
    font-size: 20px;
}